# PostgreSQL
POSTGRES_PASSWORD=changeme

# Django
SECRET_KEY=change-me-to-a-random-50-char-string
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@ngao.soc
DJANGO_SUPERUSER_PASSWORD=changeme

# Wazuh
WAZUH_JWT_TOKEN=<your-wazuh-jwt-token>
WAZUH_API_USER=wazuh-wui
WAZUH_API_PASS=zbq?kra7cUubL+mMIX5MC2NxjH1lTFcW
WAZUH_INDEXER_USER=admin
WAZUH_INDEXER_PASS=FQWEn9nid+H056UbhfOXivGLYodZ5*lb
WAZUH_ALERTS_ENABLED=true
WAZUH_SSH_HOST=<your-wazuh-ssh-host-ip>
WAZUH_API_URL=https://127.0.0.1:55000
WAZUH_INDEXER_HOST=https://127.0.0.1:9201

# FortiSIEM
FORTISIEM_URL=https://your-fortisiem-host
FORTISIEM_USER=admin
FORTISIEM_PASS=changeme

# Cisco Umbrella
UMBRELLA_CLIENT_ID=<your-umbrella-client-id>
UMBRELLA_CLIENT_SECRET=<your-umbrella-client-secret>
UMBRELLA_ORG_ID=<your-umbrella-org-id>

# Responder
DRY_RUN=true
NEVER_BLOCK=127.0.0.1

# ML Service
CONTAMINATION=0.05
AUTH_USERNAME=admin
AUTH_PASSWORD=admin
NOTIFY_WEBHOOK_URL=
WHITELISTED_IPS=127.0.0.1

# Qwen AI Endpoint
QWEN_API_URL=https://<qwen-api-ip>/v1
QWEN_API_KEY=<qwen-api-key>

# Deploy / Simulation Targets
SERVER_IP=<your-server-ip>
TARGET_SUBNET=10.0.0.0/24
TARGET_IP=10.0.0.1
TARGET_SERVER=10.0.0.2
TARGET_SUBNET_SHORT=10.0.0.0/28

