# PostgreSQL
POSTGRES_PASSWORD=changeme

# Django
SECRET_KEY=change-me-to-a-random-50-char-string
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@ngao.soc
DJANGO_SUPERUSER_PASSWORD=changeme

# Wazuh
WAZUH_JWT_TOKEN=<your-wazuh-jwt-token>
WAZUH_API_USER=wazuh-wui
WAZUH_API_PASS=zbq?kra7cUubL+mMIX5MC2NxjH1lTFcW
WAZUH_INDEXER_USER=admin
WAZUH_INDEXER_PASS=FQWEn9nid+H056UbhfOXivGLYodZ5*lb
WAZUH_ALERTS_ENABLED=true

# FortiSIEM
FORTISIEM_URL=https://your-fortisiem-host
FORTISIEM_USER=admin
FORTISIEM_PASS=changeme

# Cisco Umbrella
UMBRELLA_CLIENT_ID=<your-umbrella-client-id>
UMBRELLA_CLIENT_SECRET=<your-umbrella-client-secret>
UMBRELLA_ORG_ID=<your-umbrella-org-id>

# Responder
DRY_RUN=true
NEVER_BLOCK=10.104.4.0/24

# ML Service
CONTAMINATION=0.05
AUTH_USERNAME=admin
AUTH_PASSWORD=admin
NOTIFY_WEBHOOK_URL=
WHITELISTED_IPS=10.104.4.68,10.101.7.77
